body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
}

a,a:active{
    color: #3273e9;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: center;
}

.pricing{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

h4{
    text-align: center;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logo{
    animation: logomove 5s;
    width: 475px;
}

@keyframes logomove {
    from{
        width: 25px;
        opacity: 0;
    }
    to{
        width: 475px;
        opacity: 1;
    }
}

@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .card {
        flex-basis: 250px;
    }

    body>header{
        position: sticky;
        top:0
    }
    p{
        text-align: center;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
    }
}

@media print {
    body{
        background-image: none;
    }
    nav{
        width: 100%;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .card{
        border: 2px #45ADDD;
        flex-basis: 325px;
    }
    .gallery,#gallery{
        visibility: hidden;
    }
    .card ul li:nth-child(2)::after{
        content: '👍';
    }
}